<div class="home-header">
  <h2 class="mat-display-1 page-title">Home</h2>
  <button
    mat-flat-button
    color="accent"
    (click)="onViewQuestion()"
    *ngIf="selectedQuestion"
  >
    View Question
  </button>
</div>

<mat-tab-group
  mat-align-tabs="start"
  (selectedTabChange)="setSelectedQuestion(null)"
  class="side-margin"
>
  <mat-tab
    *ngFor="
      let userQuestion of userQuestions$ | async | keyvalue: userQuestionsSort
    "
    [label]="userQuestion.key | titlecase"
  >
    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let question of userQuestion.value"
        [value]="question.id"
        [ngClass]="{
          'question-entry no-select': true,
          'is-selected mat-elevation-z8': question === selectedQuestion
        }"
        (click)="setSelectedQuestion(question)"
      >
        <div class="question-options">
          <p>{{ question.optionOne.text }}</p>
          <p>{{ question.optionTwo.text }}</p>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>
