.card-container {
  display: flex;
  overflow: scroll;

  &::before,
  &::after {
    content: ' ';
    flex: 0 0 1rem;
  }
}

.user-card {
  flex: 0 0 250px;
  margin: 1rem 0;
  cursor: pointer;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  .mat-card-image {
    margin: 0 -16px;
  }
}
